.bulb-container{
  background: #333;
  height: 200px;
  width: 200px;
}
.light-bulb{
  background: #666;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 41px;
}

.light-bulb.on{
  border-radius: 50%;
  background: #FCEBB6;
  cursor: pointer;
  box-shadow: 0 0 3px 6px rgba(230,219,151, 0.4);
}
.btn-test{
  height: 30px;
  width: 120px;
  border: 2px solid grey;
  border-radius: 7px;
  cursor: pointer;
  background: #D36112;
  margin: 20px 31px;
  color: #fff;
  font-size: 20px;
}